// COLOR VARIABLES
$color-primary: #ff3366;
$color-primary-light: #ff3366;
$color-primary-dark: #ba265d;

$color-black-1: #212529;
$color-black-2: #3c4858;

$color-secondary: #101d2c;

$color-grey: #8492a6;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

:root {
  --color-primary: #ff3366;
  --color-primary-light: #ff4171;
  --color-primary-dark: #ba265d;

  --color-secondary: #101d2c;

  --color-greylight-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #8492a6;
  --color-grey-dark-3: #999;

  --color-black-1: #212529;
  --color-black-2: #3c4858;

  --background-color: #eaedf2;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-medium: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--color-grey-light-2);
}

$background-color-1: #6c7585;

// FONT VARIABLES
$font-primary: 'Montserrat', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BEREAKPOINTS
$bp-largest: 75em; //1200px 1200ox % 16px = 75 //use em unit
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 35.8em; //600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px = 62.5% => 1 rem = 10px
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
  // overflow-y: scroll;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 45%;
  }
}

body {
  font-family: $font-primary;
  color: var(--color-secondary);
  background-color: #fff;
  font-weight: 400;
  line-height: 1.6;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; //10px/16px = 62.5% => 1 rem = 10px
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, max-content);
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(9, minmax(min-content, 14rem))
    [center-end] 1fr [full-end];

  @media only screen and (max-width: $bp-largest) {
    grid-template-rows: 80vh repeat(5, max-content);
  }
}

.section-title {
  position: relative;
  color: var(--color-black-1);
  text-align: left;
  margin: 5rem;
  margin-top: 10rem;

  @media only screen and (max-width: $bp-small) {
    margin-top: 5rem;
  }

  h1 {
    font-weight: 700;
    font-size: 3.4rem;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    margin-bottom: 3.7rem;

    &::after {
      position: absolute;
      content: '';
      width: 60%;
      bottom: -1rem;
      left: 0;
      display: inline;
      border-bottom: 4px solid $color-primary;
    }
  }

  p {
    font-size: 1.5rem;
    color: $color-black-2;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 3.5rem;
  }
}
.section:not(.header, .work) {
  margin: 7rem 5rem;
  padding: 1rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 5rem;
  }

  @media only screen and (max-width: $bp-medium) {
    margin: 2.5rem;
  }
}
